/*/////////////////////////*/

/* TEXT STYLE */
* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(74, 46, 30);
}

/* BODY AND NAV BAR STYLES */
body {
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(250, 255, 250); */
}

header {
    position: fixed;
    display: flex;
    top:0;
    width: 100%;
    height: 60px;
    padding-bottom: 0px;
    margin: 0px;
    background-color: rgba(244, 240, 231);
    justify-content: left;
    z-index: 1;
}

nav {
    position: fixed;
    height: 60px;
    width: 500px;
    padding:0;
    white-space:nowrap;
    overflow:auto;
    scrollbar-width: none;
    margin:auto;
    left: 200px;
    z-index: 2;
}

nav a {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 100%;
    color:rgba(74, 46, 30);
    height: 100%;
}

.nav-div {
    height: 100%;
    width: 120px;
    align-content: center;
    text-align:center;
}

.nav-div:hover {
    background-color: rgb(232, 144, 59);
}

#logo {
    position: fixed;
    width:50px;
    top: 5px;
    left: 100px;
    z-index: 2;
}



/* BUTTON STYLES */
button {
    background-color: rgb(232, 144, 59);
    color: inherit;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    cursor: pointer;
}