body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(250, 255, 250);
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 20px;
    background-color: rgba(244, 240, 231);
    justify-content: left;
}

nav {
    position: fixed;
    height: 60px;
    width: 500px;
    padding:0;
    white-space:nowrap;
    overflow:auto;
    scrollbar-width: none;
    margin:auto;
    left: 200px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    width: 90px;
    height: 100%;
    color:rgba(74, 46, 30);
    height: 100%;
}

.nav-div {
    height: 100%;
    width: 90px;
    align-content: center;
    text-align:center;
}

.nav-div:hover {
    background-color: rgb(232, 144, 59);
}

#logo {
    position: fixed;
    width:50px;
    top: 5px;
    left: 100px;
}