* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    font-size: medium;
}

header {

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

nav {
    margin: 0px;
    padding: 0px;
}

#title {
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 1.5rem
}

#recipe-grid {
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5%;
}

#recipe-grid a {

    /* REMOVE ALL LINK STYLING BEFORE APPLYING CUSTOM STYLES */
    all: unset;

    /* THEN APPLY CUSTOM STYLES */
    height: 200px;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.3);
    border-radius: 15px;
}

.recipe-div * {
    padding: 5%;
}

.recipe-name {
    font-size: 1.5rem;
}