* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(74, 46, 30);
}

html {
    font-size: medium;
}

h2 {
    font-size: 1.5rem;
}

#recipe-grid {
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5%;
}

#recipe-grid a {

    /* REMOVE ALL LINK STYLING BEFORE APPLYING CUSTOM STYLES */
    all: unset;

    /* THEN APPLY CUSTOM STYLES */
    height: 200px;
    background-color: rgba(244, 240, 231);
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.3);
    border-radius: 15px;
    transition: transform .1s;
}

#recipe-grid a:hover {
    box-shadow:  5px 5px 10px rgba(232, 144, 59);
    transform: scale(1.1);
}

.recipe-div * {
    margin:10%;
}

.recipe-name {
    font-size: 1.5rem;
}