#recipe-name-container {
    margin: 100px 40px 10px 40px;
    
    position: relative;
    display: flex;
    justify-self: center;
    text-align: center;
    width: 80%;
    height: 100px;
    text-wrap: unset;
}

#recipe-name {
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

#info-container,
#ingredients-list-container,
#steps-list-container {
    width: 30%;
    justify-self: center;

}

#info-container {
    margin:0;
}

#ingredients-list-container,
#steps-list-container {
    margin-top: 75px;
}

#ingredients-title,
#steps-title {
    margin-bottom: 0;
}

#ingredients-list,
#steps-list {
    padding-left: 10%;
    font-family: inherit;
    line-height: 1.5em;
}

li {
    padding: 5px 0 0 5px;
}