#search-container {
    position: relative;
    justify-self: center;
    width: 40%;
    height: 200px;
    margin: 100px 40px 40px 40px;
}

#search-title {
    position: absolute;
    margin: 0px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

#search-form {
    position: relative;
    justify-self: center;
    width: 100%;
    height:8%;
    top: 150px;
    transform: translate(0, -50%);
    gap:0;
}

#search-bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(232, 144, 59);
    border-radius:20px;
    margin-right: 0;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
}

#search-bar:focus {
    border: 1px solid rgb(232, 144, 59);
    outline: none;
}

#search-button {
    position:absolute;
    right: 10%;
    transform: translate(0, -50%);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#search-results {
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5%;
}

.recipe-div {
    position: relative;
    height: 200px;
    background-color: rgba(244, 240, 231);
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.3);
    border-radius: 15px;
    transition: transform .1s;
}

.recipe-div:hover {
    box-shadow:  5px 5px 10px rgba(232, 144, 59);
    transform: scale(1.1);
}

.recipe-div * {
    margin: 1em;
}

.recipe-name {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    max-height: 4em;
    line-height: 1.5em;
    overflow: hidden;
    font-size: 1.25rem;
    text-decoration:none;
    color: inherit;
}

.recipe-name::after {
    content: '';
    position: absolute;
    top: 2.5em;
    left: 0;
    width: 100%;
    height: 1.5em;
    background: linear-gradient(to bottom, rgba(244, 240, 231, 0), rgba(244, 240, 231, 1));
    pointer-events: none;
}

.delete-button {
    position:absolute;
    top: 0px;
    right: 0px;
}

.recipe-time {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}